.offer {
    margin: 0 auto;
    padding: 80px 0 100px;
    width: 100%;
    background-color: #F3F5F4;
}

.offer__container {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    column-gap: 90px;
    align-items: center;
}

.offer__info {
    margin: 0;
    padding: 0;
    max-width: 580px;
}

.offer__items {
    margin: 40px auto 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    text-align: left;
}

.offer__item {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2 1fr);
    align-items: center;
    column-gap: 16px;
    row-gap: 4px;
}

.offer__item-image {
    margin: 0;
    padding: 0;
    grid-row: span 2;
    width: 50px;
    height: 50px;
}

.offer__item-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 111%;
    letter-spacing: 0.216px;
    color: #18121E;
}

.offer__item-paragraph {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 14px;
    line-height: 143%;
}

.offer__images {
    margin: 0 auto;
    padding: 0;
    max-width: 510px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.offer__image {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.offer__image_left {
    border-radius: 0 50px;
}

.offer__image_right {
    border-radius: 50px 0;
}

@media all and (max-width: 1280px) {
    .offer__container {
        max-width: 90%;
        column-gap: 70px;
    }
}

@media all and (max-width: 1086px) {
    .offer__container {
        column-gap: 30px;
    }
    .offer__images {
        max-width: 410px;
    }

    .offer__image {
        width: 200px;
        height: 200px;
    }
}

@media all and (max-width: 900px) {
    .offer {
        padding: 50px 0;
    }

    .offer__container {
        width: 92%;
        text-align: center;
        justify-self: center;
        flex-direction: column;
    }
    .offer__paragraph {
        margin-top: 32px;
    }
    .offer__items {
        margin-top: 32px;
        margin-bottom: 8px;
        row-gap: 32px;
    }
    .offer__item {
       align-items: start;
    }
    .offer__images {
        display: none;
    }
}