.promo {
  margin: -88px 0 0;
  padding: 0;
  height: 100vh;
  background-image: url(../../images/backgroung.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.promo__title {
  margin: 0 auto;
  font-family: "Next Art", sans-serif;
  font-size: 50px;
  font-weight: bold;
  min-width: 1180px;
  letter-spacing: 1px;
  line-height: 150%;
  text-align: left;
}

.promo__form {
  margin: 41px auto 86px;
  padding: 40px 42px;
  max-width: 1180px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  display: grid;
  grid-template-columns: repeat(3, 270px) min-content;
  grid-template-rows: 1fr max-content;
  column-gap: 24px;
}
.promo__form-input {
  margin: 0;
  padding: 0 14px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #E1E3E4;
  color: #fdfdfd;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.promo__form-label {
  margin: 8px 8px 0;
  grid-row: 2;
  color: #fdfdfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.promo__form-submit {
  margin: 0 auto;
  padding: 16px 36px;
  min-width: 213px;
  color: #1A3E3E;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.192px;
  border-radius: 4px;
  border: none;
  background-color: #FDFDFD;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
}

.promo__form-submit:hover {
  background-color: #1A3E3E;
  color: #FDFDFD;
}
