.promo {
  margin: -88px auto 0;
  padding: 0;
  height: 100vh;
  background-image: url(../../images/backgroung.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.promo__title {
  margin: 0 auto;
  font-family: "Next Art", sans-serif;
  font-size: 50px;
  font-weight: 700;
  min-width: 1180px;
  letter-spacing: 1px;
  line-height: 150%;
  text-align: left;
}

.promo__form {
  margin: 41px auto 82px;
  padding: 40px 43px;
  min-width: 1180px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  display: grid;
  grid-template-columns: repeat(3, 1fr) max-content;
  grid-template-rows: min-content;
  column-gap: 24px;
  box-sizing: border-box;
}

.promo__form-input {
  margin: 0;
  padding: 14px 16px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #E1E3E4;
  color: #fdfdfd;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  cursor: pointer;
  transition: opacity 0.3s ease;
  cursor: pointer;

}

.promo__form-input::-moz-placeholder {
  opacity: 1;
}

.promo__form-input::-webkit-input-placeholder {
  color: #fdfdfd;
  opacity: 1;
}

.promo__form-input_type_select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  padding-right: 44px;
  background-image: url(../../images/ep_arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 16px top 16px;
  box-sizing: border-box;
}

.promo__form-input_type_date {
  background-image: url(../../images/formkit_date.svg);
  background-repeat: no-repeat;
  background-position: top 17px right 17px;
}

.promo__form-option {
  color: #1A3E3E;
  cursor: pointer;
}

.promo__form-input:hover {
  opacity: 0.7;
}

::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.promo__form-input_type_date:focus {
  outline: none;
}

.promo__form-label {
  margin: 8px 8px 0;
  grid-row: 2;
  color: #fdfdfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.promo__form-submit {
  margin: 0;
  padding: 16px 36px;
  min-width: 213px;
  color: #1A3E3E;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.192px;
  border-radius: 4px;
  border: none;
  background-color: #FDFDFD;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

.promo__form-submit:hover {
  background-color: #1A3E3E;
  color: #FDFDFD;
}

.promo__form-submit_mobile {
  display: none;
}

@media all and (max-width: 1300px) {
  .promo__title {
    min-width: 90%;
  }

  .promo__form {
    min-width: 90%;
    padding: 38px 41px;
    column-gap: 20px;
  }

  .promo__form-input {
    padding: 12px 14px;
  }

  .promo__form-input_type_select {
    padding-right: 40px;
  }

}

@media all and (max-width: 1080px) {
  .promo__title {
    width: 92%;
  }

  .promo__form {
    width: 92%;
    padding: 35px 38px;
    column-gap: 16px;
    grid-template-columns: repeat(4, 1fr)
  }

  .promo__form-submit {

    padding: 12px 14px;
  }
}

@media all and (max-width: 949px) {
  .promo__form {
    grid-template-columns: repeat(3, 1fr);
  }

  .promo__form-submit {
    margin-top: 30px;
    grid-column: 2;
  }
}


@media all and (max-width: 730px) {

  .promo__form {
    display: none;
  }

  .promo__title {
    margin-left: 16px;
    margin-right: 29px;
    width: 92%;
    font-size: 28px;
    letter-spacing: 0;
  }

  .promo__form-submit {
    margin: 32px auto 50px 16px;
  }

  .promo__form-submit_mobile {
    display: initial;
    padding: 14px 16px;
  }

}

@media all and (max-width: 360px) {
  .promo__title {
    font-size: 20px;
  }
}