.about-tour {
    margin: 98px auto 100px;
    max-width: 1180px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.about-tour__video-container {
    margin: 0;
    padding: 0;
    position: relative;
    width: 50%;
}

.about-tour__video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    text-decoration: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 24px;
}

.about-tour__video_front {
    background-image: url('../../images/tour-video-front.png');
    position: absolute;
    top: 126px;
    left: 130px;
    z-index: 1;
}

.about-tour__video_back {
    background-image: url('../../images/tour-video-back.png');
}

.about-tour__play-button {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    background-image: url('../../images/video-icon.svg');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    cursor: pointer;
}

.about-tour__info {
    margin: 64px 0 64px 120px;
    padding: 0;
    max-width: 580px;
}

@media all and (max-width: 1280px) {
    .about-tour {
        width: 90%;

    }

    .about-tour__info {
        width: 50%;
    }
}

@media all and (max-width: 1080px) {
    .about-tour {
        width: 92%;
    }

    .about-tour__info {
        margin-top: 20px;
    }
}

@media all and (max-width: 996px) {
    .about-tour__info {
        margin-top: 0;
    }

    .about-tour__video_front {
        left: 80px;
    }
}

@media all and (max-width: 850px) {
    .about-tour {
        margin: 50px auto;
        width: 92%;
        flex-direction: column-reverse;
        align-self: center;
    }

    .about-tour__video-container {
        width: 100%;
    }

    .about-tour__video {
        margin: 40px auto 0;
        width: 358px;
        height: 416px;
    }

    .about-tour__video_front {
        position: initial;
    }

    .about-tour__video_back {
        display: none;
    }

    .about-tour__info {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

}