.destinations {
    margin: 80px auto 100px;
    padding: 0;
    text-align: center;
}

.destinations__cards {
    margin: 60px auto 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.desinations__card {
    margin: 0 auto;
    padding: 0;    
    position: relative;
}

.destinations__card-image {
    width: 380px;
    height: 500px;
    object-fit: cover;
    border-radius: 32px;
}

.destinations__rating {
    margin: 0;
    padding: 4px 8px;
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px 0 0 4px;
}

.destinations__rating-image {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
}
.destinations__rating-score {
    margin: 0;
    padding: 0;
    color: #1A3E3E;
    font-size: 14px;
    line-height: 129%;
    font-weight: 900;
}

.destinations__info {
    margin: 0;
    padding: 20px 32px 23px;
    background: rgba(255, 255, 255, 0.2);
    color: #FDFDFD;
    text-align: left;
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
    box-sizing: border-box;    
    border-radius: 0 0 32px 32px;
    row-gap: 1px;
    backdrop-filter: blur(3px);
}

.destinations__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
}

.destinations__description {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 129%;
    grid-column: 1;
    grid-row: 2;
}

.destinations__price {
    margin: 0;
    padding: 8px 16px;
    max-width: 86px;
    background: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    border-radius: 4px;
    grid-row: span 2;
}

@media all and (max-width: 420px) {
    .destinations {
        margin: 50px auto;
        width: 92%;
    }

    .destinations__cards {
        margin: 32px auto 8px;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .destinations__card-image {
        width: 285px;
        height: 400px;
    }

    .destinations__info {
        padding: 20px 24px;
        /* display: flex; */
    }

    .destinations__title {
        font-size: 18px;
    }
    .destinations__description {
        display: none;
    }
    .destinations__price {
        max-width: 67px;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 112.5%;
        grid-row: initial;
    }
    .destinations__rating {
        top: 36.8px;
    }
}