.header {
  margin: 16px auto 0;
  padding: 0;
  max-width: 1180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  margin: 0;
  padding: 0;
  width: 137px;
  height: 72px;
}

.header__burger-menu {
  margin: 7px 0 7px auto;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/burger-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px 38px;
  border: none;
  min-width: 50px;
  display: none;
}

.header__nav {
  display: flex;
}

.header__links {
  margin: 23.5px 0 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  list-style: none;
}

.header__link {
  padding: 0;
  margin: 0;
  color: #fdfdfd;
  font-family: 'Nunito Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 139%;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #F2BE22;
}

.header__button {
  margin: 14px 0 0 49px;
  padding: 12px 24px;
  max-height: 44px;
  min-width: 157px;
  border: none;
  border-radius: 4px;
  background: #1a3e3e;
  color: #fdfdfd;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.192px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header__button:hover {
  background-color: #FDFDFD;
  color: #1A3E3E;
  outline: 1px solid #1A3E3E;
}

@media all and (max-width: 1300px) {
  .header {
    width: 90%;
  }

  .header__links {
    column-gap: 20px;
  }

  .header__button {
    margin-left: 30px;
  }

}

@media all and (max-width: 1080px) {
  .header {
    width: 92%;
  }

  .header__links {
    column-gap: 16px;
  }

  .header__button {
    margin-left: 16px;
  }

  .header__logo {
    width: 100px;
    height: 53px;
  }

}

@media all and (max-width: 949px) {

  .header__nav {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__burger-menu {
    display: initial;
  }
}

@media all and (max-width: 420px) {
  .header {
    margin-top: 20px;
  }

  .header__logo {
    width: 84px;
    height: 44px;
  }

  .header__nav {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__burger-menu {
    background-size: 21px 18px;
    min-width: 30px;
  }
}