.blog {
    margin: 0 auto;
    padding: 80px 0 100px;
    width: 100%;
    background-color: #F3F5F4;
    text-align: center;
}

.blog__articles {
    margin: 40px auto 10px;
    padding: 0;
    max-width: 1180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 24px;
    justify-content: center;
}

.blog__article {
    margin: 0;
    padding: 16px;
    color: #18121E;
    font-size: 14px;
    line-height: 143%;
    font-weight: 400;
    background-color: #FDFDFD;
    border-radius: 10px;
    max-width: 580px;
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-rows: max-content 1fr max-content;
    gap: 24px;
    text-align: left;
    align-items: start;
}

.blog__article:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.blog__article:hover .blog__article-title {
    text-decoration: underline;
}

.blog__article-image {
    margin: 0;
    padding: 0;
    width: 230px;
    height: 280px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
    grid-column: 1;
    grid-row: span 3;
}

.blog__article-title {
    margin: 0;
    margin-top: 16px;
    padding: 0;
    min-width: 294px;
    font-size: 24px;
    line-height: 133%;
    font-weight: 700;
    grid-column: span 2;
}

.blog__article-text {
    margin: 0;
    padding: 0;
    width: 100%;
    grid-column: span 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog__article-date {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    color: #F2BE22;
}

.blog__article-link {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    color: #1A3E3E;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: right;
}

.blog__article-link:hover {
    color: #F2BE22;
}

@media all and (max-width: 420px) {
    .blog {
        padding: 50px 0;
    }
    .blog__container {
        margin: 0 auto;
        width: 92%;
    }
    .blog__articles {
        margin: 32px auto 8px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        column-gap: 24px;
    }
    .blog__article {
        margin: 0 auto;
        padding: 0;
        grid-template-columns: 1fr 1fr;
        max-width: 285px;
        row-gap: 16px;
        max-height: 496px;
    }

    .blog__article-image {
        width: 100%;
        border-radius: 6px 6px 0px 0px;
        grid-column: span 2;
    }
    .blog__article-title {
        margin: 0 16px;
        font-size: 20px;
        line-height: 130%;
        min-width: 253px;
    }
    .blog__article-text {
        margin: 0 16px;
        max-width: 253px;
        -webkit-line-clamp: 4;
    }
    .blog__article-date {
        margin: 16px;
    }
    .blog__article-link {
        margin: 16px;
    }
}